body{
    background-color: lightgray; 
}

h2{
    color:teal;
    font-size:2rem;
    font-weight:bold;
    font-family:Georgia;
}

h3{
    color:teal;
    font-size:1rem;
    font-weight:bold;
    font-family:Georgia;
}

h4{
    color:teal;
    font-size:1.2rem;
    font-weight:bold;
    font-family:Georgia;
}
